In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
print(5 + 7) # operation
# + Operator
# 5, 7 Oprand
# PEMDAS
print(8 * 7 + 3 / 2 - 4) # out put
# 56 + 3 / 2 - 4
# 56 + 1.5 - 4
# 57.5 - 4
# 53.5

12
53.5

In [3]:
a = 7
b = 7

print(a)
print(b)

7
7

In [4]:
print(id(a))
print(id(b))

94292645262400
94292645262400

In [5]:
a = 7
type(a)

int

In [6]:
b = 20.7
type(b)

float

In [7]:
c = True
type(c)

bool

In [8]:
d = False
type(d)

bool

In [9]:
a = "20.7"
type(a)

str

In [10]:
s = '80'
type(s)

str

In [11]:
a = """ pakistan 077 """
type(a)

str

In [13]:
#Index    0      1      2   3      4
names = ["Ali","Hamza",20, True, False]
#Index    -5     -4    -3   -2    -1
type(names)

list

In [14]:
#Index    0      1      2   3      4
names = ("Ali","Hamza",20, True, False)
#Index    -5     -4    -3   -2    -1
print(names)
print(names[1])
type(names)

('Ali', 'Hamza', 20, True, False)
Hamza

tuple

In [20]:
names = {"Hamza","Junaid","Kashif","Hamza"}

print(names)
print(type(names))
names = list(names)
print(names[1])
type(names)

{'Hamza', 'Kashif', 'Junaid'}
<class 'set'>
Kashif

list

In [34]:
data = {"name":"Muhammad Qasim",
        "name":"Asif KHan",
       "father_name":"Muhammad Aslam",
        True: "Pakistan"
       }

data["name"]

'Asif KHan'

In [27]:
data[0]

'Pakistan'

In [24]:
type(data)

dict

In [25]:
list(data)

['name', 'father_name']

# Basic Operation With String Data Types

In [39]:
name1 = "MUHammaD QaSiM"
name2 = "muhammad qasim"
print(name1 == name2)
print(id(name1), id(name2), sep="\n")
print(name1)

False
140279739816432
140279739665904
MUHammaD QaSiM

In [42]:
dir(name1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [43]:
name1 = "MUHammaD QaSiM"
print(name1.upper())
print(name1)

MUHAMMAD QASIM
MUHammaD QaSiM

In [44]:
name1 = "MUHammaD QaSiM"
print(name1.lower())
print(name1)

muhammad qasim
MUHammaD QaSiM

In [45]:
name1 = "MUHammaD QaSiM"
name1 = name1.lower()
print(name1)

muhammad qasim

In [46]:
name1 = "MUHammaD QaSiM"
name1 = name1.title()
print(name1)

Muhammad Qasim

In [47]:
del name1
print(name1)

NameError: name 'name1' is not defined

In [48]:
name1 = "    MUHammaD    QaSiM      "
print(len(name1))
print(name1.title())
print(len(name1.title()))

27
    Muhammad    Qasim

In [49]:
name1 = "    MUHammaD    QaSiM      "
print(len(name1))
print(name1.lstrip())
print(len(name1.lstrip()))

27
MUHammaD    QaSiM
23

In [51]:
name1 = "    MUHammaD    QaSiM      "
print(len(name1))
print(name1.rstrip())
print(len(name1.rstrip()))

27
    MUHammaD    QaSiM
21

In [52]:
name1 = "    MUHammaD    QaSiM      "
print(len(name1))
print(name1.strip())
print(len(name1.strip()))

27
MUHammaD    QaSiM
17

In [104]:
a = "we are pakistan we love our country!"
a.find("we",5)

16

In [54]:
a[7:15:1] #start:end:step

'pakistan'

In [107]:
a[::-1]

'!yrtnuoc ruo evol ew natsikap era ew'

In [64]:
a = "we are Pakistan we love our country!"
b = a.split()

In [75]:
#5 + 7 * 2 -7 +2
print(5 + 7 * 2 -7 +2)
5 + 7 * 2 \
-7 +2

14

14

In [96]:
name = "Hamza"
fname ="Konain"
program = 'PIAIC'
score = 200

# %
print("Student Name: %s \n Father's Name: %s \n \
Program: %s \n Score: %d"%(name,fname,program, score))

Student Name: Hamza
 Father's Name: Konain
 Program: PIAIC
 Score: 200

In [102]:
name = "Hamza"
fname ="Konain"
program = 'PIAIC'

# +
"Studuent Name: " + name + " \n FName: "+ fname + \
"\n Program: "+program

'Studuent Name: Hamza \n FName: Konain\n Program: PIAIC'

In [87]:
# "1" + 1
int("1") + int("1")

2

In [92]:
a = 200
print("Pakistan Score: "+ str(a))
print(type(a))

Pakistan Score: 200
<class 'int'>

In [91]:
name = "Hamza"
fname ="Konain"
program = 'PIAIC'
score = 200

f"Student Name {name} \n \
FatherName: {fname} \n \
Program:{program} \n \
Score: {score}"

'Student Name Hamza \n FatherName: Konain \n Program:PIAIC \n Score: 200'

In [93]:
"Name: {}, \n Father'Name: {}".format(name, fname)

"Name: Hamza, \n Father'Name: Konain"

In [94]:
"Name: {1}, \n Father'Name: {0}".format(name, fname)

"Name: Konain, \n Father'Name: Hamza"

In [95]:
"Name: {sn}, \n Father'Name: {fn}".format(sn=name, fn=fname)

"Name: Hamza, \n Father'Name: Konain"

In [99]:
a = input()
a

a

'a'