In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# load Data in in pandas

## CSV

In [4]:
df = pd.read_csv("./data/abc.csv")
df.head()

   A    B  C
0  1  2.0  3
1  4  5.0  6
2  6  8.0  8
3  5  NaN  9

In [5]:
df = pd.read_csv("./data/abc.csv", encoding='cp1252')#utf-8
df.head()

   A    B  C
0  1  2.0  3
1  4  5.0  6
2  6  8.0  8
3  5  NaN  9

In [6]:
df = pd.read_csv("./data/abc.csv", encoding='utf-8')#utf-8
df.head()

   A    B  C
0  1  2.0  3
1  4  5.0  6
2  6  8.0  8
3  5  NaN  9

In [7]:
df = pd.read_csv("./data/abc.csv", encoding='utf-8', usecols=["A","C"])#utf-8
df.head()

   A  C
0  1  3
1  4  6
2  6  8
3  5  9

In [10]:
df = pd.read_csv("./data/abc.csv", encoding='utf-8', dtype=str)#utf-8
df.head()

   A    B  C
0  1    2  3
1  4    5  6
2  6    8  8
3  5  NaN  9

# Excel

In [11]:
df1 = pd.read_excel("./data/abc.xlsx")
df1

   A    B  C
0  1  2.0  3
1  4  5.0  6
2  6  8.0  8
3  5  NaN  9

In [12]:
df1 = pd.read_excel("./data/abc.xlsx", sheet_name=0)
df1

   A    B  C
0  1  2.0  3
1  4  5.0  6
2  6  8.0  8
3  5  NaN  9

In [13]:
df1 = pd.read_excel("./data/abc.xlsx", sheet_name="Sheet1")
df1

   A    B  C
0  1  2.0  3
1  4  5.0  6
2  6  8.0  8
3  5  NaN  9

# HTML Table Load

In [14]:
df2 = pd.read_html("https://www.w3schools.com/html/html_tables.asp")
df2

[                        Company           Contact  Country
 0           Alfreds Futterkiste      Maria Anders  Germany
 1    Centro comercial Moctezuma   Francisco Chang   Mexico
 2                  Ernst Handel     Roland Mendel  Austria
 3                Island Trading     Helen Bennett       UK
 4  Laughing Bacchus Winecellars   Yoshi Tannamuri   Canada
 5  Magazzini Alimentari Riuniti  Giovanni Rovelli    Italy,
           Tag                                        Description
 0     <table>                                    Defines a table
 1        <th>                   Defines a header cell in a table
 2        <tr>                           Defines a row in a table
 3        <td>                          Defines a cell in a table
 4   <caption>                            Defines a table caption
 5  <colgroup>  Specifies a group of one or more columns in a ...
 6       <col>  Specifies column properties for each column wi...
 7     <thead>               Groups the header content in a table
 8     <tbody>                 Groups the body content in a table
 9     <tfoot>               Groups the footer content in a table]

In [20]:
df2 = pd.read_html("https://www.w3schools.com/html/html_tables.asp")[1]
df2

          Tag                                        Description
0     <table>                                    Defines a table
1        <th>                   Defines a header cell in a table
2        <tr>                           Defines a row in a table
3        <td>                          Defines a cell in a table
4   <caption>                            Defines a table caption
5  <colgroup>  Specifies a group of one or more columns in a ...
6       <col>  Specifies column properties for each column wi...
7     <thead>               Groups the header content in a table
8     <tbody>                 Groups the body content in a table
9     <tfoot>               Groups the footer content in a table

# JSON

In [17]:
df3 = pd.read_json("https://api.github.com/users/hadley/repos")
df3.head(2)

,id,node_id,name,full_name,private,owner,html_url,description,fork,url,...,forks_count,mirror_url,archived,disabled,open_issues_count,license,forks,open_issues,watchers,default_branch
0,40423928,MDEwOlJlcG9zaXRvcnk0MDQyMzkyOA==,15-state-of-the-union,hadley/15-state-of-the-union,False,"{'login': 'hadley', 'id': 4196, 'node_id': 'MD...",https://github.com/hadley/15-state-of-the-union,None,False,https://api.github.com/repos/hadley/15-state-o...,...,7,NaN,False,False,0,None,7,0,23,master
1,40544418,MDEwOlJlcG9zaXRvcnk0MDU0NDQxOA==,15-student-papers,hadley/15-student-papers,False,"{'login': 'hadley', 'id': 4196, 'node_id': 'MD...",https://github.com/hadley/15-student-papers,Graphics & computing student paper winners @ J...,False,https://api.github.com/repos/hadley/15-student...,...,0,NaN,False,False,0,None,0,0,14,master

# Save Data

In [18]:
df3.to_csv("./data/onlin_source_data.csv")

In [21]:
df2.to_excel("./data/onlin_source_data.xlsx")

In [22]:
df3.to_pickle("./data/onlin_source_data.pkl")

In [23]:
df3.to_feather("./data/onlin_source_data.ft")

In [27]:
df3.to_dict()['id']

{0: 40423928,
 1: 40544418,
 2: 14984909,
 3: 12241750,
 4: 5154874,
 5: 235426319,
 6: 9324319,
 7: 20228011,
 8: 259710082,
 9: 82348,
 10: 888200,
 11: 3116998,
 12: 8296284,
 13: 137344416,
 14: 133734429,
 15: 245178972,
 16: 2788278,
 17: 246134428,
 18: 28724058,
 19: 9470424,
 20: 116708612,
 21: 34325557,
 22: 41144,
 23: 41157,
 24: 78543290,
 25: 66588778,
 26: 258788061,
 27: 35225488,
 28: 14507273,
 29: 15718805}

# Pandas

Table -> DataFrame
Column -> SeriesData

In [30]:
print(type(df2))
df2.head()

<class 'pandas.core.frame.DataFrame'>

         Tag                       Description
0    <table>                   Defines a table
1       <th>  Defines a header cell in a table
2       <tr>          Defines a row in a table
3       <td>         Defines a cell in a table
4  <caption>           Defines a table caption

In [31]:
df2.Description

0                                      Defines a table
1                     Defines a header cell in a table
2                             Defines a row in a table
3                            Defines a cell in a table
4                              Defines a table caption
5    Specifies a group of one or more columns in a ...
6    Specifies column properties for each column wi...
7                 Groups the header content in a table
8                   Groups the body content in a table
9                 Groups the footer content in a table
Name: Description, dtype: object

In [32]:
type(df2.Description)

pandas.core.series.Series

# Series
* Index (you can replace)
* VALUES

In [33]:
df2.Description

0                                      Defines a table
1                     Defines a header cell in a table
2                             Defines a row in a table
3                            Defines a cell in a table
4                              Defines a table caption
5    Specifies a group of one or more columns in a ...
6    Specifies column properties for each column wi...
7                 Groups the header content in a table
8                   Groups the body content in a table
9                 Groups the footer content in a table
Name: Description, dtype: object

In [34]:
obj1 = pd.Series([1,3,2,4])
obj1

0    1
1    3
2    2
3    4
dtype: int64

In [36]:
obj1.index

RangeIndex(start=0, stop=4, step=1)

In [37]:
obj1.values

array([1, 3, 2, 4])

In [35]:
obj2 = pd.Series([1,2,3,4], index=["A","B","C","D"])
obj2

A    1
B    2
C    3
D    4
dtype: int64

In [38]:
obj3 = pd.Series([1,2,3,4], index=["A","B","C","D"])
obj3.index.name = "CNIC"
obj3

CNIC
A    1
B    2
C    3
D    4
dtype: int64

In [40]:
a = pd.Series([1,2,3,4], index=['a','b','c','d'])
b = pd.Series([7,3,3], index=['a','d','z'])

print(a,b, sep='\n')
a + b

a    1
b    2
c    3
d    4
dtype: int64
a    7
d    3
z    3
dtype: int64

a    8.0
b    NaN
c    NaN
d    7.0
z    NaN
dtype: float64

In [41]:
a = pd.Series([1,2,3,4], index=['a','b','c','d'])
a.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [43]:
print(a)
a['d']

a    1
b    2
c    3
d    4
dtype: int64

4

In [44]:
print(a)
a['d'] = 10
print(a)

a    1
b    2
c    3
d    4
dtype: int64
a     1
b     2
c     3
d    10
dtype: int64

In [46]:
print(a)
a[['c','a','b']]

a     1
b     2
c     3
d    10
dtype: int64

c    3
a    1
b    2
dtype: int64