In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

table - > DataFrame
column -> SeriesData

In [2]:
df = pd.read_html("https://www.w3schools.com/html/html_tables.asp")
df

[                        Company           Contact  Country
 0           Alfreds Futterkiste      Maria Anders  Germany
 1    Centro comercial Moctezuma   Francisco Chang   Mexico
 2                  Ernst Handel     Roland Mendel  Austria
 3                Island Trading     Helen Bennett       UK
 4  Laughing Bacchus Winecellars   Yoshi Tannamuri   Canada
 5  Magazzini Alimentari Riuniti  Giovanni Rovelli    Italy,
           Tag                                        Description
 0     <table>                                    Defines a table
 1        <th>                   Defines a header cell in a table
 2        <tr>                           Defines a row in a table
 3        <td>                          Defines a cell in a table
 4   <caption>                            Defines a table caption
 5  <colgroup>  Specifies a group of one or more columns in a ...
 6       <col>  Specifies column properties for each column wi...
 7     <thead>               Groups the header content in a table
 8     <tbody>                 Groups the body content in a table
 9     <tfoot>               Groups the footer content in a table]

In [3]:
df = pd.read_html("https://www.w3schools.com/html/html_tables.asp")
df[1]

          Tag                                        Description
0     <table>                                    Defines a table
1        <th>                   Defines a header cell in a table
2        <tr>                           Defines a row in a table
3        <td>                          Defines a cell in a table
4   <caption>                            Defines a table caption
5  <colgroup>  Specifies a group of one or more columns in a ...
6       <col>  Specifies column properties for each column wi...
7     <thead>               Groups the header content in a table
8     <tbody>                 Groups the body content in a table
9     <tfoot>               Groups the footer content in a table

In [25]:
df = pd.read_html("https://www.w3schools.com/html/html_tables.asp")[1]
df

          Tag                                        Description
0     <table>                                    Defines a table
1        <th>                   Defines a header cell in a table
2        <tr>                           Defines a row in a table
3        <td>                          Defines a cell in a table
4   <caption>                            Defines a table caption
5  <colgroup>  Specifies a group of one or more columns in a ...
6       <col>  Specifies column properties for each column wi...
7     <thead>               Groups the header content in a table
8     <tbody>                 Groups the body content in a table
9     <tfoot>               Groups the footer content in a table

## Json

In [21]:
df = pd.read_json("https://api.github.com/users/hadley/repos")
df.head(1)# Defualt 5 rows

,id,node_id,name,full_name,private,owner,html_url,description,fork,url,...,forks_count,mirror_url,archived,disabled,open_issues_count,license,forks,open_issues,watchers,default_branch
0,40423928,MDEwOlJlcG9zaXRvcnk0MDQyMzkyOA==,15-state-of-the-union,hadley/15-state-of-the-union,False,"{'login': 'hadley', 'id': 4196, 'node_id': 'MD...",https://github.com/hadley/15-state-of-the-union,None,False,https://api.github.com/repos/hadley/15-state-o...,...,7,NaN,False,False,0,None,7,0,23,master

## Save data

In [22]:
df.to_csv("./data/a.csv")

In [26]:
df.to_excel("./data/a.xlsx")

In [27]:
df.to_pickle("./data/a.pkl")

## CSV

In [8]:
df = pd.read_csv("./data/abc.csv")
df.head()

   A    B  C
0  1  2.0  3
1  4  5.0  6
2  6  8.0  8
3  5  NaN  9

In [9]:
df = pd.read_csv("./data/abc.csv", encoding='cp1252')#utf-8
df.head()

   A    B  C
0  1  2.0  3
1  4  5.0  6
2  6  8.0  8
3  5  NaN  9

In [13]:
df = pd.read_csv("./data/abc.csv", encoding='utf-8')#utf-8
df.head()

   A    B  C
0  1  2.0  3
1  4  5.0  6
2  6  8.0  8
3  5  NaN  9

In [11]:
df = pd.read_csv("./data/abc.csv", encoding='cp1252', usecols=["C","A"])#utf-8
df.head()

   A  C
0  1  3
1  4  6
2  6  8
3  5  9

# Excel

In [16]:
df1 = pd.read_excel("./data/abc.xlsx")
df1

   A    B  C
0  1  2.0  3
1  4  5.0  6
2  6  8.0  8
3  5  NaN  9

In [17]:
df1 = pd.read_excel("./data/abc.xlsx", sheet_name=0)
df1

   A    B  C
0  1  2.0  3
1  4  5.0  6
2  6  8.0  8
3  5  NaN  9

In [20]:
df1 = pd.read_excel("./data/abc.xlsx", sheet_name="Sheet1")
df1

   A    B  C
0  1  2.0  3
1  4  5.0  6
2  6  8.0  8
3  5  NaN  9

# pdf->tabula

# Core Concept in Pandas
* Dataframe
* Series Data

In [28]:
df.head()

         Tag                       Description
0    <table>                   Defines a table
1       <th>  Defines a header cell in a table
2       <tr>          Defines a row in a table
3       <td>         Defines a cell in a table
4  <caption>           Defines a table caption

In [29]:
type(df)

pandas.core.frame.DataFrame

In [31]:
type(df.Description)

pandas.core.series.Series

### Series Data
* index (you can replace)
* values

In [33]:
obj = pd.Series([1,2,3,4,5])
obj

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [34]:
obj.index

RangeIndex(start=0, stop=5, step=1)

In [35]:
obj.values

array([1, 2, 3, 4, 5])

##### You can replace index value in series data

In [36]:
obj1 = pd.Series([1,2,3,4,5], index=["A",'B',"C","D","E"])
obj1

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [43]:
obj1 = pd.Series([1,2,3,4,5], index=["A",'B',"C","D","E"])
obj1.index.name = "CNIC"
obj1

CNIC
A    1
B    2
C    3
D    4
E    5
dtype: int64

In [37]:
obj2 = pd.Series([8,9,3], index=["A","D","Z"])
obj2

A    8
D    9
Z    3
dtype: int64

In [40]:
print(obj1,obj2,sep="\n")
obj1 + obj2

A    1
B    2
C    3
D    4
E    5
dtype: int64
A    8
D    9
Z    3
dtype: int64

A     9.0
B     NaN
C     NaN
D    13.0
E     NaN
Z     NaN
dtype: float64